<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Clientes Manager</title>
</head>
<body>
<div align="center">
    <h1>Clientes List</h1>
    <a href="clientes/new">Create New Cliente</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Cliente ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${listClientes}">
            	<td th:text="${cliente.id}">Product ID</td>
                <td th:text="${cliente.name}">Name</td>
                <td th:text="${cliente.lastName}">Last Name</td>
                <td th:text="${cliente.country}">Country</td>
                <td th:text="${cliente.price}">Price</td>
                <td>
                	<a th:href="@{'/clientes/edit/' + ${cliente.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/clientes/delete/' + ${cliente.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>